body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: rgb(196 228 255);
  font-size: 24px;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 16px;
}

.main-container {
  font-size: large;
  background-color: rgb(227 243 255);
}
